* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


a {
  color: #333;
  text-decoration: none;
}

body {
  background: #20262E;
  padding: 20px;
  font-family: Helvetica;
}

.App {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
}

li {
  margin: 8px 0;
}

h2 {
  font-weight: bold;
  margin-bottom: 15px;
}

.done {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: line-through;
}

label {
  /* display: flex; */

}

input {
  margin-right: 5px;
}

.btn {
  float: right;
  background: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
}

.btn-submit {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn-submit:hover {
  background: #666;
}